In [2]:
import os
os.getcwd()

'/Users/abhishek/codebases/dc-ml-extraction/notebooks/unsupervised_merchant_categorization'

In [3]:
import json
import time
from datetime import datetime, timedelta

import regex as re
import pandas as pd
import numpy as np

In [4]:
from pandarallel import pandarallel
pandarallel.initialize(progress_bar=True)

INFO: Pandarallel will run on 8 workers.
INFO: Pandarallel will use standard multiprocessing data transfer (pipe) to transfer data between the main process and workers.

In [5]:
# INPUT_DATA_LOC = "/Users/abhishek/Downloads/717773d9-3f66-4bb4-b990-a07ad4e98a07.csv"
# INPUT_DATA_LOC = "/Users/abhishek/Downloads/a249663a-dd5d-4d4a-b564-8ef37804a8a2.csv"
INPUT_DATA_LOC = "/Users/abhishek/Downloads/5983ed36-7255-4b1f-82bd-53ec54225614.csv"

input_data = pd.read_csv(INPUT_DATA_LOC)
input_data.shape

(3103222, 5)

In [6]:
input_data.head()

,templatehash,servicename,pos,transactionnote,dt
0,0fde8791a26e98e372095005b02d0b39,HDFC,Rail Recipe,-1,2024-12-19
1,0fde8791a26e98e372095005b02d0b39,HDFC,GROWW INVEST TECH PRIVATE LIMITED,-1,2024-12-19
2,0fde8791a26e98e372095005b02d0b39,HDFC,NEXTBILLION TECHNOLOGY PRIVATE LIMITED,-1,2024-12-19
3,0fde8791a26e98e372095005b02d0b39,HDFC,RupeeRedee,-1,2024-12-19
4,0fde8791a26e98e372095005b02d0b39,HDFC,Sayyam Investments Private Limited,-1,2024-12-19

In [7]:
input_data.templatehash.nunique()

5074

In [8]:
input_data.servicename.value_counts(normalize=True) * 100

servicename
PAYTM                           7.782492
ICICI                           5.718540
HDFC                            5.625895
STATE BANK OF INDIA             4.972058
AXIS                            4.955366
                                  ...
CO-OPERATIVE BANK OF MEHSANA    0.000032
CMSGICL                         0.000032
KHAMGAON URBAN BANK             0.000032
TP BANK                         0.000032
SHARAD BANK                     0.000032
Name: proportion, Length: 368, dtype: float64

In [9]:
input_data['transactionnote'].head(100)

0     -1
1     -1
2     -1
3     -1
4     -1
      ..
95    -1
96    -1
97    -1
98    -1
99    -1
Name: transactionnote, Length: 100, dtype: object

In [10]:
def wordify(text):
    '''
    Returns only alphabetical part from text
    '''
    pattern = r'[a-z]+'
    response = re.findall(pattern, str(text), re.IGNORECASE)
    response = " ".join([x.lower() for x in response if len(x) > 1])
    return response

In [11]:
for col in ['pos', 'transactionnote']:
    input_data[f'cleaned_{col}'] = input_data[col].parallel_apply(wordify)

VBox(children=(HBox(children=(IntProgress(value=0, description='0.00%', max=387903), Label(value='0 / 387903')â€¦

VBox(children=(HBox(children=(IntProgress(value=0, description='0.00%', max=387903), Label(value='0 / 387903')â€¦

In [13]:
input_data.head(3)

,templatehash,servicename,pos,transactionnote,dt,cleaned_pos,cleaned_transactionnote
0,0fde8791a26e98e372095005b02d0b39,HDFC,Rail Recipe,-1,2024-12-19,rail recipe,
1,0fde8791a26e98e372095005b02d0b39,HDFC,GROWW INVEST TECH PRIVATE LIMITED,-1,2024-12-19,groww invest tech private limited,
2,0fde8791a26e98e372095005b02d0b39,HDFC,NEXTBILLION TECHNOLOGY PRIVATE LIMITED,-1,2024-12-19,nextbillion technology private limited,

In [14]:
input_data.shape, input_data[input_data['cleaned_pos'] != ''].shape

((3103222, 7), (3083697, 7))

In [19]:
input_data = input_data[input_data['cleaned_pos'] != '']
input_data = input_data.drop_duplicates('cleaned_pos')
input_data.shape

(332199, 8)

In [20]:
input_data[['templatehash', 'cleaned_pos']].to_csv('input_data.csv', index=False)

In [21]:
input_data['pos_word_count'] = input_data['cleaned_pos'].parallel_apply(lambda x: len(x.split()))
input_data['pos_word_count'].value_counts(normalize=True) * 100

VBox(children=(HBox(children=(IntProgress(value=0, description='0.00%', max=41525), Label(value='0 / 41525')))â€¦

pos_word_count
2     30.864933
3     29.170166
4     16.760135
1     10.764331
5      7.753786
6      2.775144
7      0.885614
8      0.413909
9      0.197773
10     0.124925
11     0.082180
14     0.075858
12     0.045154
13     0.025587
15     0.022577
17     0.016857
16     0.015051
18     0.005117
19     0.000903
Name: proportion, dtype: float64

In [42]:
three_word_names = input_data.loc[input_data['pos_word_count'] == 3, ['cleaned_pos']]
three_word_names.head()

                cleaned_pos
22     iifl finance limited
64   lazypay repayment nbfc
80          www mpokket com
85      zerodha broking ltd
103  poonawalla fincorp ltd

In [24]:
two_word_names = input_data.loc[input_data['pos_word_count'] == 2, ['cleaned_pos']]
two_word_names.head()

            cleaned_pos
0           rail recipe
74          shravan ram
77         amazon india
90  jagat consturctions
91         target power

In [ ]:
# ðŸ“Œ Extract first and second words
two_word_names['first_word'] = two_word_names['cleaned_pos'].apply(lambda x: str(x).split()[0])
two_word_names['second_word'] = two_word_names['cleaned_pos'].apply(lambda x: str(x).split()[1])

In [27]:
from collections import Counter

# ðŸ“Š Count occurrences of first and second words
first_word_counts = Counter(two_word_names["first_word"])
second_word_counts = Counter(two_word_names["second_word"])

In [28]:
# ðŸ“Œ Convert to DataFrame for better analysis
first_word_df = pd.DataFrame(first_word_counts.items(), columns=["word", "count"]).sort_values(by="count", ascending=False)
second_word_df = pd.DataFrame(second_word_counts.items(), columns=["word", "count"]).sort_values(by="count", ascending=False)

In [29]:
first_word_df

               word  count
91               mr   1222
2275            upi    730
256           hotel    695
960          paypal    445
336             raz    405
...             ...    ...
16809  mrahmathulla      1
16808    nagoorgani      1
16807         apraj      1
16806     dhamdhamu      1
35796           drk      1

[35797 rows x 2 columns]

In [33]:
first_word_df['count'].describe(percentiles=[i/20 for i in range(10, 21)])

count    35797.000000
mean         2.864290
std         12.962967
min          1.000000
50%          1.000000
55%          1.000000
60%          1.000000
65%          1.000000
70%          2.000000
75%          2.000000
80%          2.000000
85%          3.000000
90%          4.000000
95%          8.000000
100%      1222.000000
max       1222.000000
Name: count, dtype: float64

In [59]:
first_word_df[first_word_df['count'] < 3]

               word  count
11028       medchal      2
11400       citizen      2
2276     snehanjali      2
17901        manvir      2
11387           dpk      2
...             ...    ...
16809  mrahmathulla      1
16808    nagoorgani      1
16807         apraj      1
16806     dhamdhamu      1
35796           drk      1

[29618 rows x 2 columns]

In [30]:
second_word_df

                  word  count
6          enterprises   1699
16             traders   1007
58           petroleum    957
23          enterprise    764
180              singh    723
...                ...    ...
13858    santhoshkumar      1
13857  muthumariyamman      1
13856          mahalik      1
13855     kunjeshkumar      1
29970   internatiaonal      1

[29971 rows x 2 columns]

In [36]:
second_word_df['count'].describe(percentiles=[i/20 for i in range(10, 21)])

count    29971.000000
mean         3.421074
std         20.344871
min          1.000000
50%          1.000000
55%          1.000000
60%          1.000000
65%          1.000000
70%          1.000000
75%          2.000000
80%          2.000000
85%          3.000000
90%          4.000000
95%          9.000000
100%      1699.000000
max       1699.000000
Name: count, dtype: float64

In [58]:
second_word_df[second_word_df['count'] < 10].word.tolist()

['kri',
 'mahato',
 'sethi',
 'heaven',
 'petromart',
 'intern',
 'security',
 'rohit',
 'gasoline',
 'hea',
 'tvs',
 'mxxxxa',
 'cloud',
 'nd',
 'cap',
 'txxxxi',
 'marketplace',
 'infocom',
 'drive',
 'bo',
 'imaging',
 'chaurasiya',
 'ads',
 'praka',
 'bhagwan',
 'servo',
 'royal',
 'cybs',
 'apartment',
 'tyre',
 'bakes',
 'ibrahim',
 'xpress',
 'tp',
 'dis',
 'sonkar',
 'vishal',
 'sures',
 'oils',
 'medicine',
 'communicati',
 'solapur',
 'ramu',
 'drug',
 'raghav',
 'mumba',
 'halder',
 'yogesh',
 'hi',
 'arun',
 'metro',
 'export',
 'sahil',
 'thorat',
 'shrivastava',
 'exclusive',
 'kerala',
 'bali',
 'mohapatra',
 'ibl',
 'negi',
 'pack',
 'distribution',
 'multi',
 'apparel',
 'noi',
 'tirupur',
 'fashi',
 'sure',
 'ah',
 'infrastruct',
 'donation',
 'subh',
 'needs',
 'tnin',
 'naka',
 'icic',
 'puram',
 'raipur',
 'lax',
 'do',
 'gowda',
 'sugar',
 'foundry',
 'huf',
 'pand',
 'stat',
 'jagdish',
 'stone',
 'nilesh',
 'healthcar',
 'kan',
 'utilities',
 'dist',
 'shekhar',
 'rice',
 'desi',
 'mad',
 'del',
 'pulses',
 'kkbk',
 'ci',
 'hospi',
 'mahajan',
 'prabhakar',
 'fabric',
 'selvam',
 'gro',
 'kannan',
 'day',
 'debnath',
 'solu',
 'sof',
 'furnitures',
 'prashant',
 'swamy',
 'galleria',
 'bu',
 'dai',
 'cms',
 'live',
 'info',
 'tw',
 'mma',
 'shg',
 'plast',
 'findiv',
 'redbus',
 'myntra',
 'antipolo',
 'ti',
 'gour',
 'burger',
 'taste',
 'hosp',
 'ramakrishna',
 'first',
 'insuran',
 'saw',
 'singapore',
 'mpgs',
 'billdes',
 'kart',
 'uddin',
 'arts',
 'cent',
 'petrolieum',
 'gandhinagar',
 'electrica',
 'malad',
 'mohammed',
 'railway',
 'at',
 'dental',
 'pride',
 'maity',
 'inv',
 'singla',
 'mahavir',
 'kokare',
 'jagtap',
 'refreshment',
 'investments',
 'parveen',
 'panvel',
 'spot',
 'papers',
 'sahakari',
 'gym',
 'salem',
 'rajpoot',
 'restau',
 'light',
 'upadhyay',
 'jariwala',
 'amit',
 'bowl',
 'capit',
 'saraf',
 'suri',
 'bhandari',
 'beer',
 'interna',
 'mul',
 'rohini',
 'agra',
 'associa',
 'seth',
 'deb',
 'refund',
 'spares',
 'cane',
 'sam',
 'secu',
 'jodhpur',
 'high',
 'gov',
 'fish',
 'surya',
 'magic',
 'bil',
 'vishnu',
 'moham',
 'ahamed',
 'mohd',
 'hyp',
 'dehradun',
 'pravi',
 'paliwal',
 'sir',
 'top',
 'pandya',
 'ply',
 'walk',
 'genera',
 'salman',
 'navi',
 'harish',
 'trans',
 'mobility',
 'commercial',
 'prad',
 'hitesh',
 'commer',
 'advertising',
 'dash',
 'babubhai',
 'thakkar',
 'krish',
 'kamlesh',
 'corpor',
 'constructio',
 'mahe',
 'gurgaonhrin',
 'shakya',
 'hydera',
 'rashid',
 'vegetable',
 'shares',
 'hasan',
 'alloys',
 'tiruvallur',
 'stop',
 'mahadev',
 'collectio',
 'okaxi',
 'bpcl',
 'sanja',
 'tel',
 'varma',
 'granites',
 'pillai',
 'vidya',
 'baburao',
 'tandel',
 'mary',
 'malhotra',
 'renuka',
 'gener',
 'order',
 'supermar',
 'kfc',
 'membership',
 'irfan',
 'united',
 'hr',
 'toyota',
 'ravindra',
 'brands',
 'laboratories',
 'gaming',
 'ab',
 'karim',
 'uni',
 'gst',
 'sou',
 'rajkumar',
 'june',
 'bhar',
 'indusind',
 'sundaram',
 'har',
 'sudhakar',
 'sw',
 'shoppee',
 'manila',
 'vaghela',
 'praveen',
 'bhojnalay',
 'pharmaceuti',
 'bihar',
 'proteins',
 'maruthi',
 'engg',
 'qureshi',
 'hypermarke',
 'parida',
 'kataria',
 'jun',
 'mahi',
 'shaw',
 'sat',
 'pub',
 'consult',
 'green',
 'tractors',
 'arif',
 'leather',
 'bajpai',
 'hospitalit',
 'construc',
 'ccavenue',
 'kis',
 'tv',
 'classic',
 'taj',
 'saravanan',
 'chin',
 'mh',
 'moha',
 'santhosh',
 'clearing',
 'colours',
 'collec',
 'hardw',
 'airways',
 'netflix',
 'sun',
 'brand',
 'music',
 'cables',
 'chsl',
 'bxxxxa',
 'bazzar',
 'amount',
 'okicic',
 'entertainm',
 'ganga',
 'bran',
 'venkateshwara',
 'creat',
 'hardwar',
 'garmen',
 'entertainme',
 'trichy',
 'shanti',
 'july',
 'youtube',
 'movies',
 'cosmetic',
 'selvaraj',
 'advance',
 'bhavani',
 'temple',
 'bp',
 'vasant',
 'vin',
 'rame',
 'muthu',
 'stall',
 'siddiqui',
 'mohanlal',
 'lighting',
 'lace',
 'rayon',
 'vijayawada',
 'healthca',
 'bookmyshow',
 'prasa',
 'pearl',
 'acharya',
 'greenbelt',
 'direct',
 'fan',
 'jabalpur',
 'dxxxa',
 'mate',
 'court',
 'zepto',
 'sxxh',
 'plywoods',
 'jio',
 'mithai',
 'saran',
 'namdev',
 'hou',
 'confectionary',
 'qa',
 'shekh',
 'vijayan',
 'chadha',
 'prince',
 'satish',
 'kishore',
 'printer',
 'battery',
 'capita',
 'naraya',
 'pgsi',
 'securi',
 'tax',
 'belapur',
 'baba',
 'boi',
 'jayanagar',
 'bairwa',
 'sundar',
 'vit',
 'bharati',
 'dom',
 'perumal',
 'anan',
 'communicatio',
 'assoc',
 'inr',
 'manoj',
 'manohar',
 'bhubaneswar',
 'asif',
 'tubes',
 'bqr',
 'chettiar',
 'jangid',
 'beg',
 'spirit',
 'educati',
 'coop',
 'han',
 'suzuki',
 'ms',
 'prak',
 'packers',
 'tran',
 'casuals',
 'nh',
 'free',
 'dha',
 'ramchandra',
 'mudaliar',
 'nigam',
 'balaj',
 'jewelle',
 'seva',
 'mustafa',
 'greens',
 'uber',
 'bob',
 'professional',
 'charge',
 'google',
 'basheer',
 'ubi',
 'rameshbhai',
 'connection',
 'narayanan',
 'jindal',
 'poultry',
 'lights',
 'vellore',
 'vehicles',
 'all',
 'rajendran',
 'rajaram',
 'bhaiya',
 'maruti',
 'tri',
 'kar',
 'anjum',
 'dair',
 'gra',
 'commu',
 'control',
 'teja',
 'gourmet',
 'dat',
 'epay',
 'swee',
 'www',
 'grills',
 'murali',
 'nishad',
 'pramod',
 'bhaskar',
 'pharmaceutica',
 'ganes',
 'pradeep',
 'compl',
 'constr',
 'april',
 'shubham',
 'll',
 'lic',
 'rout',
 'barik',
 'radha',
 'kol',
 'mewara',
 'rural',
 'capi',
 'estore',
 'gir',
 'vinay',
 'raza',
 'un',
 'special',
 'tomar',
 'petroluem',
 'amol',
 'beach',
 'maa',
 'solut',
 'rajes',
 'logistic',
 'visa',
 'wagh',
 'chikan',
 'securit',
 'ghar',
 'consultant',
 'hanuman',
 'mohamed',
 'sxxxxr',
 'cl',
 'interior',
 'rambabu',
 'utib',
 'cnrb',
 'srinivasa',
 'bkid',
 'engin',
 'deep',
 'registration',
 'tukaram',
 'corporate',
 'kxxxxi',
 'highways',
 'venkat',
 'nagaraju',
 'sharad',
 'treders',
 'small',
 'marine',
 'nan',
 'gpay',
 'mobikwik',
 'rent',
 'nara',
 'agritech',
 'chat',
 'jewell',
 'island',
 'neft',
 'chg',
 'shank',
 'ojha',
 'communic',
 'sm',
 'ut',
 'suvarna',
 'mahalakshmi',
 'hind',
 'ayurvedic',
 'agr',
 'bb',
 'samanta',
 'london',
 'borivali',
 'staff',
 'mahad',
 'china',
 'avenues',
 'asho',
 'look',
 'hydraulics',
 'cashew',
 'pos',
 'dwarka',
 'yad',
 'lubricants',
 'vapi',
 'mulund',
 'kris',
 'sanj',
 'wa',
 'shivkumar',
 'jwellers',
 'shriram',
 'dass',
 'kalyani',
 'satyanarayana',
 'eats',
 'chatterjee',
 'ixigo',
 'blue',
 'bhushan',
 'charitable',
 'ben',
 'akash',
 'kollam',
 'ks',
 'forever',
 'sil',
 'sekh',
 'affair',
 'trichur',
 'chhabra',
 'gameti',
 'qr',
 'zaika',
 'coco',
 'dhingra',
 'gl',
 'mill',
 'wor',
 'digit',
 'tom',
 'urban',
 'tank',
 'fd',
 'oka',
 'rec',
 'ec',
 'emitra',
 'police',
 'chawla',
 'pharmaceutic',
 'supreme',
 'swa',
 'superma',
 'karnataka',
 'insu',
 'rehman',
 'lalwani',
 'srinivasan',
 'mhatre',
 'ri',
 'op',
 'sekar',
 'utilit',
 'festival',
 'samarth',
 'infote',
 'foodworks',
 'em',
 'idbi',
 'max',
 'vas',
 'sahni',
 'den',
 'vishwanath',
 'mutu',
 'ahm',
 'municipal',
 'cho',
 'highwa',
 'cen',
 'shakthi',
 'site',
 'chai',
 'men',
 'tir',
 'nagaraj',
 'bharath',
 'gop',
 'mr',
 'sala',
 'lama',
 'softwa',
 'pre',
 'abraham',
 'raje',
 'guj',
 'enterpises',
 'malviya',
 'enterta',
 'kengeri',
 'fabricators',
 'jewe',
 'girish',
 'deepak',
 'sureshkumar',
 'momos',
 'bari',
 'novelties',
 'lokhande',
 'develope',
 'ala',
 'dividend',
 'accou',
 'mukherjee',
 'kaushal',
 'yusuf',
 'enterpries',
 'carrier',
 'natio',
 'carriers',
 'chu',
 'granite',
 'kingdom',
 'centr',
 'tirumala',
 'gateway',
 'dbs',
 'tirupati',
 'mahalaxmi',
 'haryana',
 'virar',
 'vodafone',
 'baghel',
 'entertain',
 'mithaiwala',
 'jxxxxv',
 'adhikari',
 'sheth',
 'bxxxxxxa',
 'ass',
 'wings',
 'rxxxxn',
 'dwivedi',
 'constru',
 'bhawan',
 'dlin',
 'memorial',
 'photo',
 'incentive',
 'kanchipura',
 'sinha',
 'innovation',
 'ahme',
 'ranchi',
 'digita',
 'balakrishnan',
 'leaf',
 'barman',
 'delivery',
 'arena',
 'nav',
 'facility',
 'shanmugam',
 'shakti',
 'gokul',
 'finserv',
 'xxxxxxxxxx',
 'venkateswarlu',
 'shivhare',
 'upad',
 'moto',
 'thiruvananthain',
 'jn',
 'palakkad',
 'milan',
 'globa',
 'mukesh',
 'nandan',
 'doshi',
 'shenoy',
 'misal',
 'sarda',
 'bsnl',
 'raghavendra',
 'kanchipuram',
 'vikas',
 'gene',
 'jamshedpur',
 'cell',
 'lazypay',
 'idli',
 'ngr',
 'decorators',
 'commun',
 'mallik',
 'dosa',
 'poo',
 'glob',
 'krushna',
 'ganesan',
 'arumugam',
 'chandran',
 'cream',
 'view',
 'gift',
 'sree',
 'rajak',
 'tour',
 'renewal',
 'lifestyl',
 'tourism',
 'jalandhar',
 'devidas',
 'karmakar',
 'self',
 'pxxxxd',
 'she',
 'brothe',
 'shya',
 'engineeri',
 'suthar',
 'bee',
 'jiomart',
 'khare',
 'miyan',
 'av',
 'manna',
 'kam',
 'mitra',
 'deva',
 'guwahati',
 'unisex',
 'vashi',
 'shr',
 'mistry',
 'swad',
 'arjun',
 'engine',
 'grover',
 'badlapur',
 'sheikh',
 'vahora',
 'konyak',
 'sitaram',
 'baza',
 'pathology',
 'txxxi',
 'vasai',
 'fabr',
 'sand',
 'valley',
 'est',
 'vij',
 'estate',
 'sachdeva',
 'thrissur',
 'akhtar',
 'trav',
 'iyer',
 'ic',
 'kvb',
 'caters',
 'mehra',
 'engi',
 'saket',
 'floor',
 'varshney',
 'radadiya',
 'english',
 'som',
 'finc',
 'bihari',
 'venkateswara',
 'fun',
 'kas',
 'phase',
 'fees',
 'cool',
 'onli',
 'dabhi',
 'bhi',
 'dil',
 'interest',
 'rolls',
 'cottex',
 'spl',
 'fly',
 'menon',
 'books',
 'mathur',
 'md',
 'lodha',
 'hote',
 'shipping',
 'dnyan',
 'tiru',
 'nagari',
 'umesh',
 'deepa',
 'now',
 'chandr',
 'keshav',
 'ernakulam',
 'saravana',
 'amir',
 'micro',
 'treat',
 'niranjan',
 'satyanarayan',
 'fusion',
 'habib',
 'chemists',
 'north',
 'kanpur',
 'post',
 'visaka',
 'cards',
 'mangal',
 'gwalior',
 'recreation',
 'vivek',
 'transp',
 'abbas',
 'handicrafts',
 'creatio',
 'parashar',
 'pazhamudir',
 'mutual',
 'prabhu',
 'paris',
 'vishakap',
 'bera',
 'kala',
 'kitc',
 'andheri',
 'process',
 'nanded',
 'madhu',
 'pawan',
 'hype',
 'mat',
 'sr',
 'welfare',
 'pondicherry',
 'infracon',
 'grou',
 'tak',
 'arabia',
 'comfort',
 'rail',
 'hotstar',
 'crockery',
 'trave',
 'haldar',
 'adwm',
 'jaya',
 'culture',
 'gmbh',
 'sarin',
 'ifsc',
 'mxxxn',
 'tiger',
 'omkar',
 'ratilal',
 'work',
 'energ',
 'marg',
 'sankar',
 'kamath',
 'hassan',
 'hs',
 'makemytrip',
 'fisheries',
 'diesel',
 'dhanraj',
 'government',
 'manjhi',
 'suites',
 'pate',
 'barbeque',
 'fatima',
 'pastries',
 'id',
 'creati',
 'licious',
 'communica',
 'canada',
 'hills',
 'akshay',
 'khurana',
 'lata',
 'azam',
 'kitchenware',
 'wad',
 'rath',
 'airte',
 'machine',
 'pi',
 'varsha',
 'seoul',
 'fund',
 'game',
 'mukes',
 'alabang',
 'cas',
 'dreamplug',
 'nirman',
 'sunitha',
 'dth',
 'acc',
 'cn',
 'scientific',
 'reality',
 'enteprises',
 'nanda',
 'logisti',
 'flowers',
 'credi',
 'rajdhani',
 'suni',
 'salvi',
 'gohil',
 'petroliu',
 'nivas',
 ...]

In [ ]:
second_word_df[second_word_df['count'] > 20]

             word  count
6     enterprises   1699
16        traders   1007
58      petroleum    957
23     enterprise    764
180         singh    723
...           ...    ...
477        liquor     21
1646         nair     21
3802          car     21
7798          jat     21
1031        priva     21

[637 rows x 2 columns]

In [50]:
high_freq_words = second_word_df.loc[second_word_df['count'] > 20, 'word'].tolist()